<div class="container-fluid">
  <!--
    <h1 class="title">
      {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>
  -->

  <div class="row">
    <!--Detalle de la factura-->
    <div class="col-5">
      <h6>Detalle de factura</h6>
      Busqueda de clientes
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Cliente" aria-label="Cliente"
          aria-describedby="button-addon2" [(ngModel)]="filtroCliente">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="buscarcliente()">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div> 
      <p>{{datosCliente[0]?.nombres}}</p>
      <p>{{datosCliente[0]?.ci_ruc}}</p>
      <!--End Busqueda de clientes-->
      <!-- Items de la factura-->
      <table class="table table-sm">
        <thead>
          <tr>
            <td scope="col">Cant.</td>
            <td scope="col">Descripción</td>
            <td scope="col">Desc. %</td>
            <td scope="col">Subtotal</td>
            <td scope="col">Total</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of pedido">
            <th scope="row"> <input type="number" (change)="recalcular(p)" [(ngModel)]="p.cantidad"></th>
            <td>
              <p>{{p.descripcion}}</p>
            </td>
            <td>
              <p>{{p.decuento}}</p>
            </td>
            <td>
              <p>{{p.subtotal}}</p>
            </td>
            <td>
              <p>{{p.total}}</p>
            </td>
            
            
          </tr>
        </tbody>
      </table>
      <br>
      <button class="btn btn-success" (click)="facturar()">Facturar</button>
      <br>

      <!-- End Items de la factura-->
    </div>

    
    <!--Busqueda de productos-->
    <div class="col-7">
      <h6>Busqueda de productos</h6>
      <!-- Tabla de productos -->
      <form>
        <div class="form-group form-inline">
          <input class="form-control" type="text" placeholder="nombre, precio..." name="password" [(ngModel)]="filtro.txt">
          <button class="btn btn-success" (click)="buscar()">Buscar</button>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" sortable="name" (sort)="onSort($event)">Codigo</th>
              <th scope="col" sortable="area" (sort)="onSort($event)">Descrición</th>
              <th scope="col" sortable="population" (sort)="onSort($event)">Valor IVA</th>
              <th>Añadir</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of productos">
              <th scope="row">{{ p.codigo }}</th>
              <td>
                <p>{{p.descripcion}}</p>
              </td>
              <td>
                <p>{{p.valor_iva}}</p>
              </td>
              <td>
                <button class="btn btn-success" (click)="agregar(p)">Añadir</button>
              </td>
              
            </tr>
          </tbody>
        </table>

        <!-- <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
          </ngb-pagination>

          <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
            <option [ngValue]="10">10 items por página</option>
            <option [ngValue]="20">20 items por página</option>
            <option [ngValue]="50">50 items por página</option>
          </select>
        </div> -->
      </form>
      <!-- End Tabla de productos -->

    </div>
  </div>
</div>